/* ---------------
top
--------------- */
.top {
    .mv {
        padding-top: 21.33vw;
        padding-bottom: 120.27vw;
        background-color: var(--peach);
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            display: inline-block;
            background-image: url(../images/home/desktop/bg-pattern-hero-home.svg);
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            width: 170.67vw;
            height: 170.67vw;
            top: 27.2vw;
            left: 0;
        }

        .text-wrap{
            position: relative;
            z-index: 1;
            padding: 0 6.4vw;

            h1 {
                margin-bottom: 6.4vw;
            }

            p {
                margin-bottom: 6.4vw;
                color: #fff;
                font-size: var(--fs-15px);
                line-height: 1.67;
                text-align: center;
            }
        }

        img {
            position: absolute;
            width: 163vw;
            left: 50%;
            top: 84vw;
            transform: translateX(-50%);
        }
    }

    .projects {
        margin-top: 32vw;
        margin-bottom: 32vw;
    }

    #values {
        .value {
            margin-bottom: 21.33vw;

            &:last-child {
                margin-bottom: 8.72vw;
            }

            .illust {
                background-image: url(../images/home/desktop/bg-pattern-hero-home.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                width: 53.87vw;
                height: 53.87vw;
                position: relative;
                margin: 0 auto 12.8vw;

                img {
                    position: absolute;
                }
            }

            &:first-child  .illust {
                transform: rotate(-90deg);
                
                img {
                    transform: rotate(90deg);
                }
            }

            &:nth-child(2) .illust {
                transform: rotate(180deg);
                
                img {
                    transform: rotate(180deg);
                }
            }

            h3 {
                margin-bottom: 8.53vw;
            }

            p {
                text-align: center;
            }
        }
    }
}

@media screen and (min-width:768px) {
    .top {
        .mv {
            margin: 0 5.21vw;
            border-radius: 1.95vw;
            padding-top: 7.81vw;
            padding-bottom: 59.51vw;

            &::before {
                width: 83.33vw;
                height: 83.33vw;
                top: 13.15vw;
                left: 22vw;
            }

            .text-wrap {
                padding: 0 15vw;

                h1 {
                    margin-bottom: 4vw;
                }

                p {
                    font-size: var(--fs-16px);
                    padding: 0 2vw;
                    margin-bottom: 3.13vw;
                }
            }

            img {
                top: 40vw;
                width: 80vw;
            }
        }

        .projects {
            margin-top: 15.63vw;
            margin-bottom: 15.63vw;
        }

        #values {
            .value {
                display: flex;
                align-items: center;
                gap: 6.25vw;
                margin-bottom: 4.17vw;

                .illust {
                    width: 26.3vw;
                    height: 26.3vw;
                    margin: 0;
                    min-width: 26.3vw;
                }

                h3 {
                    text-align: left;
                    margin-bottom: 2.08vw;
                }

                p {
                    text-align: left;
                }
            }
        }
    }
}

@media screen and (min-width:1440px) {
    .top {
        .mv {
            margin: 0;
            border-radius: 15px;
            padding-top: 145px;
            padding-bottom: 145px;
            padding-left: 95px;
            display: flex;

            &::before {
                width: 640px;
                height: 640px;
                top: 0;
                left: auto;
                right: 0;
            }

            .text-wrap {
                padding: 0;
                width: 540px;

                h1 {
                    margin-bottom: 30px;
                    text-align: left;
                }

                p {
                    padding: 0 100px 0 0;
                    margin-bottom: 40px;
                    text-align: left;
                }

                .cv-btn {
                    margin: 0 auto 0 0;
                }
            }

            img {
                top: -50px;
                width: 655px;
                left: 870px;
            }
        }

        .projects {
            margin-top: 160px;
            margin-bottom: 160px;
            position: relative;

            &.leaf::after {
                top: -480px;
                left: -165px;
            }

            .projects-wrap{
                grid-template-rows: repeat(2, auto);
                column-gap: 30px;
                row-gap: 24px;

                a {
                    &.design {
                        background-image: url(../images/home/desktop/image-web-design-large.jpg);
                        grid-row: 1 / 3;
                        height: 100%;
                        padding-top: 278px;
                    }
                }
            }
        }

        #values {
            margin-bottom: 160px;
            position: relative;

            &.leaf::after {
                top: 124px;
                right: -165px;
                transform: rotate(180deg);
            }

            .values-wrap {
                display: flex;
                justify-content: space-between;

                .value {
                    display: block;
                    width: 350px;
                    margin-bottom: 0;

                    .illust {
                        width: 202px;
                        height: 202px;
                        margin: 0 auto 48px;
                        min-width: auto;
                    }

                    h3 {
                        text-align: center;
                        margin-bottom: 32px;
                    }

                    p {
                        text-align: center;
                    }

                    &:last-child p {
                        padding: 0 5px;
                    }
                }
            }
        }
    }
}