@charset "UTF-8";
/* ---------------
common
--------------- */
:root {
  /* カラー */
  --peach: #E7816B;
  --light-peach: #FFAD9B;
  --light-beige: #FDF3F0;
  --dark-grey: #333136;
  --light-grey: #F1F3F5;
  --black: #1D1C1E;
  /* サイズ */
  --fs-14px: 3.73vw;
  --fs-15px: 4vw;
  --fs-16px: 4.27vw;
  --fs-20px: 5.33vw;
  --fs-24px: 6.4vw;
  --fs-28px: 7.47vw;
  --fs-32px: 8.53vw;
  --fs-40px: 10.67vw;
  --fs-48px: 12.8vw;
}

@media screen and (min-width: 768px) {
  :root {
    --fs-14px: 1.82vw;
    --fs-15px: 1.95vw;
    --fs-16px: 2.08vw;
    --fs-20px: 2.6vw;
    --fs-24px: 3.13vw;
    --fs-28px: 3.65vw;
    --fs-32px: 4.17vw;
    --fs-40px: 5.21vw;
    --fs-48px: 6.25vw;
  }
}
@media screen and (min-width: 1440px) {
  :root {
    --fs-14px: 14px;
    --fs-15px: 15px;
    --fs-16px: 16px;
    --fs-20px: 20px;
    --fs-24px: 24px;
    --fs-28px: 28px;
    --fs-32px: 32px;
    --fs-40px: 40px;
    --fs-48px: 48px;
  }
}
body {
  font-family: "Jost", sans-serif;
  line-height: 1;
}

main {
  margin-top: 96px;
}

@media screen and (min-width: 768px) {
  main {
    margin-top: 155px;
  }
}
@media screen and (min-width: 1440px) {
  main {
    max-width: 1110px;
    margin: 155px auto 0;
  }
}
p {
  font-weight: 400;
  font-size: var(--fs-16px);
  line-height: 1.63;
}

h1 {
  font-size: var(--fs-32px);
  font-weight: 400;
  color: #fff;
  line-height: 1.13;
  text-align: center;
}

h2 {
  font-size: var(--fs-32px);
  font-weight: 400;
}

h3 {
  font-size: var(--fs-20px);
  font-weight: 500;
  text-align: center;
  letter-spacing: 5px;
}
h3.peach {
  color: var(--peach);
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: var(--fs-48px);
    line-height: 1;
  }
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: var(--fs-40px);
  }
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.design-mv, .back-common {
  background-color: var(--peach);
  position: relative;
  overflow: hidden;
  height: 85.33vw;
  display: flex;
  align-items: center;
  padding: 0 6.4vw;
}
.design-mv::before, .back-common::before {
  content: "";
  display: inline-block;
  background-image: url(../images/web-design/desktop/bg-pattern-intro-web.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 233.6vw;
  height: 155.73vw;
  top: 0;
  right: 0;
}
.design-mv .text-wrap, .back-common .text-wrap {
  position: relative;
  z-index: 1;
}
.design-mv .text-wrap p, .back-common .text-wrap p {
  color: #fff;
  font-size: var(--fs-15px);
  line-height: 1.67;
  text-align: center;
  margin-top: 6.4vw;
}

@media screen and (min-width: 768px) {
  .design-mv, .back-common {
    height: 32.81vw;
    border-radius: 1.95vw;
    padding: 0 18vw;
    margin: 0 5.21vw;
  }
  .design-mv::before, .back-common::before {
    width: 114.06vw;
    height: 76.04vw;
    top: -22vw;
    right: -21vw;
  }
  .design-mv .text-wrap p, .back-common .text-wrap p {
    font-size: var(--fs-16px);
    margin-top: 3.13vw;
  }
}
@media screen and (min-width: 1440px) {
  .design-mv, .back-common {
    height: 252px;
    border-radius: 15px;
    padding: 0 190px;
    margin: 0;
  }
  .design-mv::before, .back-common::before {
    width: 876px;
    height: 584px;
    top: -167px;
    right: 0;
  }
  .design-mv .text-wrap p, .back-common .text-wrap p {
    margin-top: 24px;
    padding: 0 160px;
  }
  .app .design-mv::before {
    background-image: url(../images/app-design/desktop/bg-pattern-intro-app.svg);
    right: auto;
    left: -58px;
  }
  .graphic .design-mv::before {
    background-image: url(../images/graphic-design/desktop/bg-pattern-intro-graphic.svg);
    right: auto;
    left: -58px;
  }
}
.back-common {
  height: auto;
  padding: 21.33vw 6.4vw;
}
.back-common::before {
  background-image: url(../images/about/mobile/bg-pattern-hero-about-mobile.svg);
  top: -38vw;
  height: 252.27vw;
}
.back-common .text-wrap h2 {
  color: var(--peach);
  text-align: center;
}
.back-common.beige {
  background-color: var(--light-beige);
}
.back-common.beige::before {
  background-image: url(../images/shared/desktop/bg-pattern-three-circles.svg);
  width: 155.73vw;
  height: 155.73vw;
  top: 0;
  left: 0;
}
.back-common.beige .text-wrap p {
  color: var(--black);
}

@media screen and (min-width: 768px) {
  .back-common {
    height: auto;
    padding: 8.33vw 7.55vw;
    margin: 0;
    border-radius: 0;
  }
  .back-common::before {
    top: -48vw;
    left: -160vw;
    width: 225vw;
    height: 230vw;
  }
  .back-common .text-wrap p {
    margin-top: 4.17vw;
  }
  .back-common.beige::before {
    width: 70.04vw;
    height: 70.04vw;
    top: -25.5vw;
    left: 18vw;
  }
}
@media screen and (min-width: 1440px) {
  .back-common {
    padding: 0 95px;
  }
  .back-common::before {
    background-image: url(../images/about/desktop/bg-pattern-hero-about-desktop.svg);
    top: auto;
    bottom: 0;
    left: 0;
    width: 640px;
    height: 640px;
  }
  .back-common .text-wrap h1 {
    text-align: left;
  }
  .back-common .text-wrap h2 {
    text-align: left;
  }
  .back-common .text-wrap p {
    padding: 0;
    margin-top: 32px;
    text-align: left;
  }
  .back-common.beige::before {
    width: 584px;
    height: 584px;
    top: auto;
    bottom: 0;
    left: -140px;
  }
}
.wrap {
  padding: 0 6.4vw;
}

@media screen and (min-width: 768px) {
  .wrap {
    padding: 0 5.21vw;
  }
}
@media screen and (min-width: 1440px) {
  .wrap {
    padding: 0;
  }
}
.cv-btn {
  display: block;
  background-color: #fff;
  color: var(--dark-grey);
  border-radius: 2.13vw;
  width: 40.53vw;
  height: 14.93vw;
  text-align: center;
  font-weight: 500;
  font-size: var(--fs-15px);
  padding-top: 4.8vw;
  line-height: 1.5;
  margin: 0 auto;
  letter-spacing: 1px;
}

.cv-btn2 {
  display: block;
  background-color: var(--peach);
  color: #fff;
  border-radius: 2.13vw;
  width: 40.53vw;
  height: 14.93vw;
  text-align: center;
  font-weight: 400;
  font-size: var(--fs-15px);
  padding-top: 4.8vw;
  line-height: 1.5;
  margin: 0 auto;
  letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
  .cv-btn {
    width: 19.79vw;
    height: 7.29vw;
    border-radius: 1.04vw;
    padding-top: 2.5vw;
  }
  .cv-btn2 {
    width: 19.79vw;
    height: 7.29vw;
    border-radius: 1.04vw;
    padding-top: 2.5vw;
  }
}
@media screen and (min-width: 1440px) {
  .cv-btn {
    border-radius: 8px;
    width: 152px;
    height: 56px;
    padding-top: 18px;
  }
  .cv-btn:hover {
    background-color: var(--light-peach);
    color: #fff;
  }
  .cv-btn2 {
    border-radius: 8px;
    width: 152px;
    height: 56px;
    padding-top: 18px;
  }
  .cv-btn2:hover {
    background-color: var(--light-peach);
    color: #fff;
  }
}
.projects-wrap a {
  display: block;
  height: 66.67vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 4vw;
  overflow: hidden;
  position: relative;
  padding-top: 24vw;
  margin-bottom: 6.4vw;
}
.projects-wrap a:last-child {
  margin-bottom: 0;
}
.projects-wrap a::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
}
.projects-wrap a.design {
  background-image: url(../images/home/mobile/image-web-design.jpg);
}
.projects-wrap a.app {
  background-image: url(../images/home/mobile/image-app-design.jpg);
}
.projects-wrap a.graphic {
  background-image: url(../images/home/mobile/image-graphic-design.jpg);
}
.projects-wrap a p {
  text-align: center;
  color: #fff;
  position: relative;
  z-index: 1;
}
.projects-wrap a p.design-name {
  font-size: var(--fs-28px);
  letter-spacing: 1.4px;
  margin-bottom: 4.8vw;
}
.projects-wrap a p.link {
  font-size: var(--fs-15px);
  letter-spacing: 5px;
  position: relative;
  padding-right: 4.27vw;
}
.projects-wrap a p.link img {
  width: 2vw;
  margin-left: 4.27vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
  .projects-wrap a {
    height: 26.04vw;
    padding-top: 8vw;
    border-radius: 1.95vw;
    margin-bottom: 3.13vw;
  }
  .projects-wrap a.design {
    background-image: url(../images/home/tablet/image-web-design.jpg);
  }
  .projects-wrap a.app {
    background-image: url(../images/home/tablet/image-app-design.jpg);
  }
  .projects-wrap a.graphic {
    background-image: url(../images/home/tablet/image-graphic-design.jpg);
  }
  .projects-wrap a p.design-name {
    font-size: var(--fs-40px);
    letter-spacing: 2px;
    margin-bottom: 3.13vw;
    line-height: 1;
  }
  .projects-wrap a p.link img {
    margin-left: 2.73vw;
    width: 1vw;
  }
}
@media screen and (min-width: 1440px) {
  .projects-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .projects-wrap a {
    height: 308px;
    border-radius: 15px;
    padding-top: 112px;
    margin-bottom: 0;
  }
  .projects-wrap a.design {
    background-image: url(../images/home/desktop/image-web-design-small.jpg);
  }
  .projects-wrap a.app {
    background-image: url(../images/home/desktop/image-app-design.jpg);
  }
  .projects-wrap a.graphic {
    background-image: url(../images/home/desktop/image-graphic-design.jpg);
  }
  .projects-wrap a p.design-name {
    margin-bottom: 24px;
  }
  .projects-wrap a p.link {
    padding-right: 21px;
  }
  .projects-wrap a p.link img {
    width: 8px;
    margin-left: 21px;
  }
  .projects-wrap a:hover::after {
    background-color: var(--peach);
    opacity: 0.8;
  }
}
.achievements .achievements-list .achievement {
  border-radius: 4vw;
  overflow: hidden;
  margin-bottom: 10.67vw;
}
.achievements .achievements-list .achievement:last-child {
  margin-bottom: 0;
}
.achievements .achievements-list .achievement .achievement-des {
  background-color: var(--light-beige);
  padding: 8.53vw 8vw;
  text-align: center;
}
.achievements .achievements-list .achievement .achievement-des h3 {
  margin-bottom: 5.33vw;
}

@media screen and (min-width: 768px) {
  .achievements .achievements-list .achievement {
    border-radius: 1.95vw;
    display: flex;
    margin-bottom: 4.17vw;
  }
  .achievements .achievements-list .achievement img {
    width: 44.14vw;
  }
  .achievements .achievements-list .achievement .achievement-des {
    padding: 14.19vw 5.34vw;
  }
  .achievements .achievements-list .achievement .achievement-des h3 {
    margin-bottom: 2.5vw;
  }
}
@media screen and (min-width: 1440px) {
  .achievements .achievements-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 32px;
  }
  .achievements .achievements-list .achievement {
    border-radius: 15px;
    display: block;
    margin-bottom: 0;
  }
  .achievements .achievements-list .achievement img {
    width: 100%;
  }
  .achievements .achievements-list .achievement .achievement-des {
    padding: 32px 45px;
  }
  .achievements .achievements-list .achievement .achievement-des h3 {
    margin-bottom: 16px;
  }
  .achievements .achievements-list .achievement:hover .achievement-des {
    background-color: var(--peach);
  }
  .achievements .achievements-list .achievement:hover .achievement-des h3 {
    color: #fff;
  }
  .achievements .achievements-list .achievement:hover .achievement-des p {
    color: #fff;
  }
}
.location-links {
  padding-top: 32vw;
  margin-bottom: 32vw;
}
.location-links .location-link {
  margin-bottom: 12.8vw;
}
.location-links .location-link .illust {
  background-image: url(../images/shared/desktop/bg-pattern-small-circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 53.87vw;
  height: 53.87vw;
  position: relative;
  margin: 0 auto 12.8vw;
}
.location-links .location-link .illust img {
  position: absolute;
}
.location-links .location-link:first-child .illust {
  transform: rotate(90deg);
}
.location-links .location-link:first-child .illust img {
  transform: rotate(-90deg);
}
.location-links .location-link:nth-child(2) .illust {
  transform: rotate(0);
}
.location-links .location-link:nth-child(2) .illust img {
  transform: rotate(0);
}
.location-links .location-link:last-child {
  margin-bottom: 0;
}
.location-links .location-link:last-child .illust {
  transform: rotate(-90deg);
}
.location-links .location-link:last-child .illust img {
  transform: rotate(90deg);
}
.location-links .location-link h3 {
  margin-bottom: 8.53vw;
}
.location-links .location-link p {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .location-links {
    padding-top: 0;
    margin-bottom: 15.63vw;
  }
  .location-links .location-link {
    margin-bottom: 10.42vw;
  }
  .location-links .location-link .illust {
    width: 26.3vw;
    height: 26.3vw;
    margin: 0 auto 6.25vw;
  }
  .location-links .location-link h3 {
    margin-bottom: 4.17vw;
  }
}
@media screen and (min-width: 1440px) {
  .location-links {
    margin-bottom: 160px;
  }
  .location-links .locations-links-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .location-links .locations-links-wrap .location-link {
    width: 250px;
    margin-bottom: 0;
  }
  .location-links .locations-links-wrap .location-link .illust {
    width: 202px;
    height: 202px;
  }
  .location-links .locations-links-wrap .location-link h3 {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .leaf::after {
    content: "";
    display: inline-block;
    background-image: url(../images/shared/desktop/bg-pattern-leaf.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1006px;
    height: 594px;
    position: absolute;
    z-index: -1;
  }
}
/* ---------------
header
--------------- */
header {
  background-color: #fff;
  padding: 0 24px;
  height: 96px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}
header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header .header-inner .logo img {
  width: 202px;
}
header .header-nav .menu-toggle {
  background-image: url(../images/shared/mobile/icon-hamburger.svg);
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  border-radius: 0;
  width: 24px;
  height: 20px;
  padding: 0;
}
header .header-nav ul {
  position: absolute;
  top: 96px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 9999;
  letter-spacing: 2px;
}
header .header-nav .menu-overlay {
  opacity: 0;
  visibility: hidden;
  z-index: 9998;
  position: fixed;
  top: 96px;
  left: 0;
  width: 100%;
  height: calc(100vh - 96px);
  background-color: rgba(0, 0, 0, 0.5);
}

header.open .header-nav .menu-toggle {
  background-image: url(../images/shared/mobile/icon-close.svg);
}
header.open .header-nav ul {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  background-color: var(--black);
  width: 100%;
  padding: 12.8vw 6.4vw;
}
header.open .header-nav ul li {
  margin-bottom: 8.53vw;
}
header.open .header-nav ul li:last-child {
  margin-bottom: 0;
}
header.open .header-nav ul li a {
  color: #fff;
  display: block;
  font-size: var(--fs-24px);
}
header.open .header-nav .menu-overlay {
  transition: opacity 0.3s ease, visibility 0.3s ease;
  opacity: 1;
  visibility: visible;
}

@media screen and (min-width: 768px) {
  header {
    padding: 0 5.47vw;
    height: 155px;
  }
  header .header-nav .menu-toggle {
    display: none;
  }
  header .header-nav ul {
    position: initial;
    display: flex;
    background-color: #fff;
    opacity: 1;
    visibility: visible;
    gap: 42px;
  }
  header .header-nav ul li a {
    color: var(--black);
    font-size: var(--fs-14px);
  }
  header .header-nav .menu-overlay {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .header-inner {
    max-width: 1110px;
    margin: 0 auto;
  }
}
/* ---------------
footer
--------------- */
.cv-area {
  color: #fff;
  text-align: center;
  width: 87.2vw;
  padding: 17.07vw 6.4vw;
  margin: 0 auto;
  border-radius: 4vw;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.cv-area::before {
  content: "";
  display: inline-block;
  background-image: url(../images/shared/desktop/bg-pattern-call-to-action.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--peach);
  width: 233.6vw;
  height: 155.73vw;
  position: absolute;
  top: -29vw;
  left: -63vw;
  z-index: -1;
}
.cv-area h2 {
  font-weight: 400;
  margin-bottom: 5.33vw;
}
.cv-area p {
  font-size: var(--fs-15px);
  line-height: 1.67;
  margin-bottom: 8.53vw;
}

@media screen and (min-width: 768px) {
  .cv-area {
    padding: 7.42vw 17vw;
    width: 89.84vw;
    border-radius: 1.95vw;
  }
  .cv-area::before {
    width: 114.06vw;
    height: 76.04vw;
    top: -14.5vw;
    left: -3vw;
  }
  .cv-area h2 {
    font-size: var(--fs-40px);
    margin-bottom: 2.5vw;
  }
  .cv-area p {
    margin-bottom: 4.17vw;
    font-size: var(--fs-16px);
  }
}
@media screen and (min-width: 1440px) {
  .cv-area {
    padding: 72px 95px;
    width: 1110px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--peach);
  }
  .cv-area::before {
    width: 876px;
    height: 584px;
    top: 50%;
    left: auto;
    right: 0;
    transform: translateY(-50%);
  }
  .cv-area .left-wrap h2 {
    text-align: left;
    margin-bottom: 20px;
  }
  .cv-area .left-wrap p {
    margin-bottom: 0;
    text-align: left;
    padding-right: 300px;
  }
  .cv-area .cv-btn {
    margin: 0;
    min-width: 152px;
  }
}
footer {
  background-color: var(--black);
  padding: 67.47vw 6.4vw 17.07vw;
  margin-top: -50.5vw;
}
footer .footer-nav .logo {
  padding-bottom: 8.53vw;
  border-bottom: 1px solid rgba(151, 151, 151, 0.1);
}
footer .footer-nav .logo a {
  display: block;
  width: 53.87vw;
  margin: 0 auto;
}
footer .footer-nav ul {
  padding-top: 8.53vw;
  padding-bottom: 2.13vw;
}
footer .footer-nav ul li {
  margin-bottom: 8.53vw;
}
footer .footer-nav ul li a {
  display: block;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
  font-size: var(--fs-14px);
}
footer .contact-wrap p {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 10.67vw;
}
footer .contact-wrap p span {
  font-weight: 700;
}
footer .contact-wrap ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4.27vw;
  width: 49.07vw;
  margin: 0 auto;
}
footer .contact-wrap ul li a {
  display: block;
  width: 6.4vw;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 21.61vw 5.08vw 10.42vw;
    margin-top: -11vw;
  }
  footer .footer-nav {
    display: flex;
    align-items: end;
    justify-content: space-between;
    border-bottom: 1px solid rgba(151, 151, 151, 0.1);
    padding-bottom: 5.99vw;
    margin-bottom: 4.04vw;
  }
  footer .footer-nav .logo {
    padding-bottom: 0;
    border-bottom: none;
  }
  footer .footer-nav .logo a {
    width: 26.3vw;
  }
  footer .footer-nav ul {
    padding-top: 0;
    padding-bottom: 0;
    display: flex;
    gap: 5.47vw;
  }
  footer .footer-nav ul li {
    margin-bottom: 0;
  }
  footer .footer-nav ul li a {
    display: block;
    text-align: center;
    color: #fff;
  }
  footer .contact-wrap {
    display: flex;
    align-items: end;
  }
  footer .contact-wrap p {
    text-align: left;
    margin-bottom: 0;
  }
  footer .contact-wrap p.address1 {
    margin-right: 7.81vw;
  }
  footer .contact-wrap ul {
    gap: 0;
    justify-content: space-between;
    width: 23.95vw;
    margin: 0 0 0 auto;
  }
  footer .contact-wrap ul li a {
    width: 3.13vw;
  }
}
@media screen and (min-width: 1440px) {
  footer {
    padding: 144px 0 72px;
    margin-top: -72px;
  }
  footer .footer-inner {
    width: 1110px;
    margin: 0 auto;
  }
  footer .footer-inner .footer-nav {
    padding-bottom: 40px;
    margin-bottom: 30px;
  }
  footer .footer-inner .footer-nav .logo a {
    width: 202px;
  }
  footer .footer-inner .footer-nav ul {
    gap: 42px;
  }
  footer .footer-inner .contact-wrap p.address1 {
    margin-right: 205px;
  }
  footer .footer-inner .contact-wrap ul {
    width: 184px;
  }
  footer .footer-inner .contact-wrap ul li a {
    width: 24px;
  }
}
/* ---------------
top
--------------- */
.top .mv {
  padding-top: 21.33vw;
  padding-bottom: 120.27vw;
  background-color: var(--peach);
  position: relative;
  overflow: hidden;
}
.top .mv::before {
  content: "";
  display: inline-block;
  background-image: url(../images/home/desktop/bg-pattern-hero-home.svg);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 170.67vw;
  height: 170.67vw;
  top: 27.2vw;
  left: 0;
}
.top .mv .text-wrap {
  position: relative;
  z-index: 1;
  padding: 0 6.4vw;
}
.top .mv .text-wrap h1 {
  margin-bottom: 6.4vw;
}
.top .mv .text-wrap p {
  margin-bottom: 6.4vw;
  color: #fff;
  font-size: var(--fs-15px);
  line-height: 1.67;
  text-align: center;
}
.top .mv img {
  position: absolute;
  width: 163vw;
  left: 50%;
  top: 84vw;
  transform: translateX(-50%);
}
.top .projects {
  margin-top: 32vw;
  margin-bottom: 32vw;
}
.top #values .value {
  margin-bottom: 21.33vw;
}
.top #values .value:last-child {
  margin-bottom: 8.72vw;
}
.top #values .value .illust {
  background-image: url(../images/home/desktop/bg-pattern-hero-home.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 53.87vw;
  height: 53.87vw;
  position: relative;
  margin: 0 auto 12.8vw;
}
.top #values .value .illust img {
  position: absolute;
}
.top #values .value:first-child .illust {
  transform: rotate(-90deg);
}
.top #values .value:first-child .illust img {
  transform: rotate(90deg);
}
.top #values .value:nth-child(2) .illust {
  transform: rotate(180deg);
}
.top #values .value:nth-child(2) .illust img {
  transform: rotate(180deg);
}
.top #values .value h3 {
  margin-bottom: 8.53vw;
}
.top #values .value p {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .top .mv {
    margin: 0 5.21vw;
    border-radius: 1.95vw;
    padding-top: 7.81vw;
    padding-bottom: 59.51vw;
  }
  .top .mv::before {
    width: 83.33vw;
    height: 83.33vw;
    top: 13.15vw;
    left: 22vw;
  }
  .top .mv .text-wrap {
    padding: 0 15vw;
  }
  .top .mv .text-wrap h1 {
    margin-bottom: 4vw;
  }
  .top .mv .text-wrap p {
    font-size: var(--fs-16px);
    padding: 0 2vw;
    margin-bottom: 3.13vw;
  }
  .top .mv img {
    top: 40vw;
    width: 80vw;
  }
  .top .projects {
    margin-top: 15.63vw;
    margin-bottom: 15.63vw;
  }
  .top #values .value {
    display: flex;
    align-items: center;
    gap: 6.25vw;
    margin-bottom: 4.17vw;
  }
  .top #values .value .illust {
    width: 26.3vw;
    height: 26.3vw;
    margin: 0;
    min-width: 26.3vw;
  }
  .top #values .value h3 {
    text-align: left;
    margin-bottom: 2.08vw;
  }
  .top #values .value p {
    text-align: left;
  }
}
@media screen and (min-width: 1440px) {
  .top .mv {
    margin: 0;
    border-radius: 15px;
    padding-top: 145px;
    padding-bottom: 145px;
    padding-left: 95px;
    display: flex;
  }
  .top .mv::before {
    width: 640px;
    height: 640px;
    top: 0;
    left: auto;
    right: 0;
  }
  .top .mv .text-wrap {
    padding: 0;
    width: 540px;
  }
  .top .mv .text-wrap h1 {
    margin-bottom: 30px;
    text-align: left;
  }
  .top .mv .text-wrap p {
    padding: 0 100px 0 0;
    margin-bottom: 40px;
    text-align: left;
  }
  .top .mv .text-wrap .cv-btn {
    margin: 0 auto 0 0;
  }
  .top .mv img {
    top: -50px;
    width: 655px;
    left: 870px;
  }
  .top .projects {
    margin-top: 160px;
    margin-bottom: 160px;
    position: relative;
  }
  .top .projects.leaf::after {
    top: -480px;
    left: -165px;
  }
  .top .projects .projects-wrap {
    grid-template-rows: repeat(2, auto);
    column-gap: 30px;
    row-gap: 24px;
  }
  .top .projects .projects-wrap a.design {
    background-image: url(../images/home/desktop/image-web-design-large.jpg);
    grid-row: 1/3;
    height: 100%;
    padding-top: 278px;
  }
  .top #values {
    margin-bottom: 160px;
    position: relative;
  }
  .top #values.leaf::after {
    top: 124px;
    right: -165px;
    transform: rotate(180deg);
  }
  .top #values .values-wrap {
    display: flex;
    justify-content: space-between;
  }
  .top #values .values-wrap .value {
    display: block;
    width: 350px;
    margin-bottom: 0;
  }
  .top #values .values-wrap .value .illust {
    width: 202px;
    height: 202px;
    margin: 0 auto 48px;
    min-width: auto;
  }
  .top #values .values-wrap .value h3 {
    text-align: center;
    margin-bottom: 32px;
  }
  .top #values .values-wrap .value p {
    text-align: center;
  }
  .top #values .values-wrap .value:last-child p {
    padding: 0 5px;
  }
}
/* ---------------
web-design
--------------- */
.design .design-mv {
  margin-bottom: 25.6vw;
}
.design .achievements {
  margin-bottom: 25.6vw;
}
.design .projects {
  margin-bottom: 25.6vw;
}

@media screen and (min-width: 768px) {
  .design .design-mv {
    margin-bottom: 15.63vw;
  }
  .design .achievements {
    margin-bottom: 15.63vw;
  }
  .design .projects {
    margin-bottom: 15.63vw;
  }
}
@media screen and (min-width: 1440px) {
  .design .design-mv {
    margin-bottom: 160px;
  }
  .design .achievements {
    margin-bottom: 160px;
    position: relative;
  }
  .design .achievements.leaf::after {
    top: -286px;
    left: -165px;
  }
  .design .projects {
    margin-bottom: 160px;
  }
}
/* ---------------
about
--------------- */
.deal {
  margin-bottom: 32vw;
}

@media screen and (min-width: 768px) {
  .about-us, .talent, .deal {
    margin: 0 5.21vw 15.63vw;
    border-radius: 1.96vw;
    overflow: hidden;
  }
}
@media screen and (min-width: 1440px) {
  .about-us, .talent, .deal {
    display: flex;
    border-radius: 15px;
    margin: 0 0 160px;
  }
  .about-us img, .talent img, .deal img {
    height: 100%;
    width: auto;
  }
  .about-us, .deal {
    flex-direction: row-reverse;
  }
  .deal .back-common.beige::before {
    left: 0;
  }
  div.leaf {
    position: relative;
  }
  div.leaf::after {
    top: -320px;
    left: -165px;
  }
  .location-links.leaf {
    position: relative;
  }
  .location-links.leaf::after {
    top: 182px;
    right: -165px;
    transform: rotate(180deg);
  }
}
/* ---------------
locations
--------------- */
.locations {
  margin-bottom: 32vw;
}
.locations .location {
  margin-bottom: 10.67vw;
}
.locations .location:last-child {
  margin-bottom: 0;
}
.locations .location .back-common {
  justify-content: center;
}
.locations .location .back-common .text-wrap h2 {
  font-weight: 500;
}
.locations .location .back-common .text-wrap p span {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .locations {
    margin-bottom: 15.63vw;
    padding: 0 5.21vw;
  }
  .locations .location {
    margin-bottom: 15.63vw;
  }
  .locations .location img {
    border-radius: 1.95vw;
    margin-bottom: 3.91vw;
  }
  .locations .location .back-common {
    border-radius: 1.95vw;
    justify-content: left;
    padding: 11.46vw 9.76vw;
  }
  .locations .location .back-common.beige::before {
    width: 76.04vw;
    height: 76.04vw;
    top: auto;
    bottom: 0;
    left: 0;
  }
  .locations .location .back-common .text-wrap h2 {
    text-align: left;
  }
  .locations .location .back-common .text-wrap .info {
    display: flex;
    gap: 3.91vw;
  }
  .locations .location .back-common .text-wrap .info p {
    text-align: left;
    min-width: 33.2vw;
    margin-top: 3.13vw;
  }
}
@media screen and (min-width: 1440px) {
  .locations {
    margin-bottom: 160px;
    padding: 0;
  }
  .locations .location {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  .locations .location:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .locations .location img {
    border-radius: 15px;
    margin-bottom: 0;
    width: 350px;
    height: 326px;
    object-fit: cover;
  }
  .locations .location .back-common {
    border-radius: 15px;
    padding: 0 95px;
  }
  .locations .location .back-common.beige::before {
    background-image: url(../images/shared/desktop/bg-pattern-two-circles.svg);
    width: 584px;
    height: 292px;
  }
  .locations .location .back-common .text-wrap .info {
    gap: 30px;
  }
  .locations .location .back-common .text-wrap .info p {
    min-width: 255px;
    margin-top: 24px;
  }
}

/*# sourceMappingURL=style.css.map */
